@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

:root {
    --white-light: #FAF7FD;
    --dark-black: #000;
    --orange: #ff8c00;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;

  }

 body, html {
     font-family: 'Poppins', sans-serif;
     background: var(--dark-black);
 }

 
 .container {
     width: 100vw;
     height: 100vh;

     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .container .tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .tree-container .avatar {

    width: 213px;
    height: 213px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--white-light);
    border-radius: 50%;

 }

 .tree-container .avatar img {

    width: 200px;
    height: 200px;

    border-radius: 50%;
 }

 .tree-container .insta-user {

    margin-top: 15px;
    color: var(--orange);

 }

.tree-container .link-container {

   margin-top: 17px;
   display:flex;
   flex-direction: column;
 }

 .link-container .link {
   margin-top: 16px;
   width: 325px;

   border: 2px solid var(--white-light);
   border-radius: 4px;

   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   text-align: center;
   
   padding: 12px 0;

   transition: ease 0.3s;

 }

 .link-container .link:hover{

   background: var(--orange);
   color: var(--white-light)
 }

 .tree-container .social-container {

   margin-top: 68px;

   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap: 29px;

 }

 .social-container .social {

   transform: scale(0.9);
   transition: ease 00.3s;
 }

 ;.social-container .social:hover {

   transform: scale(1);
 }